/* Empty. Add your own CSS if you like */
.my-card {
    padding-top: 1px;
    padding-bottom: 1px;
    margin : 10px 0px;
    box-shadow: 3px 9px 15px rgba(0, 0, 0, 0.3);
}
.my-card:last-child {
    margin-top:-1px;
}

.my-card-high {
    padding-top: 1px;
    padding-bottom: 1px;
    box-shadow: 1px 16px 12px rgba(0, 0, 0, 0.4); }
.item-divider-detail {
    color: #000
}
.color-fit {
    background:-webkit-gradient(linear, 30% 84%,0% 4%, from(rgba(255,255,255,1)), to(rgba(88, 187, 215,0.6)));
}
.col-font-color {
    color: rgba(97, 116, 123, 1);
}

.detail-list {
    margin-top:8px;
}