/* Empty. Add your own CSS if you like */
.my-card {
    padding-top: 1px;
    padding-bottom: 1px;
    box-shadow: 3px 9px 15px rgba(0, 0, 0, 0.3); }

.my-card-high {
    padding-top: 1px;
    padding-bottom: 1px;
    box-shadow: 1px 16px 12px rgba(0, 0, 0, 0.4); }
.item-divider-detail {
    color: #000
}
.color-fit {
    background:-webkit-gradient(linear, 118 -31, 10 123, from(#E3F3F8), to(#58BBD7));
}
.list:last-child.card {
    margin-bottom: 10px;  }